<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>SAM-D Sample App</h1>
        <div class="row">
            <div class="col-md-2">
                <p>
                    <strong>S</strong>pring <br>
                    <strong>A</strong>ngular.js <br>
                    <strong>M</strong>ongoDB <br>
                    <!--<strong>-</strong> <br>-->
                    <strong>D</strong>ocker
                </p>
            </div>
            <div class="col-md-10">
                <p>This is a starter kit for building applications with the SAM-D stack.<br>
                    Java SpringBoot | Angular.js | MongoDB running inside a  Docker container
                    </p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Alerts</h2>
            <p> The included alerts service lets you show a dismissible alert from any page in the application. Just
                include 'AlertsService' in your controller and call the '.addAlert()' function!</p>
            <p><a class="btn btn-default" href="#" ng-click="randomAlert()" role="button">Alert Sample &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" ng-click="changeState()" role="button">Change State &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->